*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #333;
    min-height: 100vh;
    font-family: sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid whitesmoke;
}

.container{
    max-width: 90%;
    margin: 20px auto;
}

.header .header__logo{
    text-decoration: none;
    color: white;
    font-size: 30px;
    letter-spacing: 2.5px;
    text-shadow: 0 0 10px red;
}

.header .header__content{
}

.header #search{
    outline: none;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: blueviolet;
    color: white;
    /* box-shadow: 0 0 15px rgb(144, 86, 199); */
    font-size: 16px;
    letter-spacing: 1.5px;

}

@media screen and (max-width: 600px) {
    .header{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .header__content{
        margin: 25px;
    }
}

.header #search::placeholder, 
.header #search::-webkit-input-placeholder{
    color: white;
    font-size: 20px;
}

.films{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.film-card{
    width: 240px;
    margin: 10px;
}

.film-card:hover{
    cursor: pointer;
}

.film-card:hover .dark{
    background-color: rgba(255, 255, 255, 0.1);
}

.film-img-box{
    height: 360px;
    position: relative;
}

.dark{
    background-color: rgba(0,0,0,0.2); 
    /* border: 2px dashed green;  */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.film-img{
    width: 100%;
    height: 100%; 
}



.film-rate{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #555;
    border-radius: 50%;
    z-index: 1;
}

.green{
    border: 2px solid green;
}
.red{
    border: 2px solid red;
}
.orange{
    border: 2px solid orange;
}

/* Film INFORMATION */

.film-name{
    color: white;
    font-size: 18px;
    margin: 5px 0;
}

.film-genre{
    color: yellow;
    
}

